ICAPS-24 @ git+https://github.com/CLAIR-LAB-TECHNION/ICAPS-24@gymjoco
llava[train] @ git+https://github.com/LLaVA-VL/LLaVA-NeXT
unified-planning[fast-downward]
fire
timeoutcontext
natsort
pandas

git+https://github.com/CLAIR-LAB-TECHNION/clair-robotics-stack.git
# flash-attn  # install this manually for faster inference

numpy
tinydb