ICAPS-24 @ git+https://github.com/CLAIR-LAB-TECHNION/ICAPS-24@gymjoco
llava[train] @ git+https://github.com/LLaVA-VL/LLaVA-NeXT
unified-planning[fast-downward]
flash-attn
fire
timeoutcontext
natsort
pandas
